@model ResumeProjectDemo.Entities.Service
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<div class="p-6">
    <h3 class="text-white text-2xl font-bold mb-6">Yeni Hizmet Ekle</h3>
    <div class="bg-card-dark rounded-xl border border-slate-800 p-8 shadow-xl">
        <form method="post">
            <div class="space-y-6">
                <div>
                    <label class="block text-slate-400 text-sm mb-2">Hizmet Başlığı</label>
                    <input type="text" asp-for="Title" class="w-full bg-background-dark border border-slate-700 rounded-lg p-3 text-white outline-none" />
                </div>
                <div>
                    <label class="block text-slate-400 text-sm mb-2">Açıklama</label>
                    <textarea asp-for="Description" rows="3" class="w-full bg-background-dark border border-slate-700 rounded-lg p-3 text-white outline-none"></textarea>
                </div>
                <div>
                    <label class="block text-slate-400 text-sm mb-2">İkon Yolu (Örn: /bolby/images/service-1.svg)</label>
                    <input type="text" asp-for="ImageUrl" class="w-full bg-background-dark border border-slate-700 rounded-lg p-3 text-white outline-none" />
                </div>
                <button type="submit" class="bg-primary hover:bg-blue-600 text-white font-bold py-3 px-8 rounded-lg">Kaydet</button>
            </div>
        </form>
    </div>
</div>